[% BLOCK js %]
[% END %]

    <h2>Choose a text to examine</h2>
    <div id="text_list">
      <ul>
[% SET i = 0 -%]
[% FOREACH t IN texts -%]
        <li><a href="view_text?textid=[% i %]">[% t %]</a></li>
[% i = i + 1 -%]
[% END -%]
     </table>
    </div>
