<?xml version="1.0" encoding="UTF-8" ?>
<Module>
  <ModulePrefs
	title="Variant Table Viewer"
	author_email="taralee@alum.mit.edu"
	author="Tara Andrews"
	description="Variant Table Viewer"
	screenshot="http://crosswire.org/images/crosswire.gif"
	thumbnail="http://crosswire.org/images/crosswire.gif"
	scrolling="true"
   >
  <Optional feature="dynamic-height"/>
  <Optional feature="pubsub-2">
  <Param name="topics">
    <![CDATA[ 
    <Topic title="Load with DOT data" name="interedition.tradition.selected"
            description="A tradition was selected by the user" type="string" subscribe="true"/>
    ]]>
  </Param>
</Optional>
</ModulePrefs>
<Content type="html">

<![CDATA[
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript" src="js/table_interaction.js"></script>
    <link type="text/css" href="css/cupertino/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <link type="text/css" href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="variants_table">
    </div>
  </body>
]]>
</Content>
</Module>
